.auth-container {
  width: 300px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.auth-container h2 {
  text-align: center;
}

.auth-container button {
  width: 100%;
  margin-top: 10px;
}
